html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html { 
        /*background: url(../img/background-background3.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;*/
}
body {
	line-height: 1;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	color: #fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #fff;
}
.main-main {
	padding-left: 100px;
	/*bottom: 200px;*/
	position: relative;
	z-index: 20;
	width: 700px;
	text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
}
h1 {
	color: white;
	font-size: 400%;
	font-weight: bold;
	padding-bottom: 40px;
}
.menu-menu {
	position: fixed;
	top:0;
	z-index: 21;
	width: 100%;
	font-size: 95%;
	font-weight: bold;
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 100px;
	background: black;
}
.menu-menu a:hover {
	color: #f5ff31;
	color: #00a99d;
	transition: color 0.2s;
}

.menu-menu li {
	display: inline;
	list-style-type: none;
	padding: 10px;;
	/*background: rgba(0, 0, 0, 0.6);*/
	margin-right: 20px;
}
nav.menu-menu ul li a {
	color: white;
	text-decoration: none;
}
#run-run, #press-press, #wav-wav, #android-android, #contact-contact {
	min-height: 600px;
	padding-top: 200px;
}
#run-run {
	
}
.appstore-appstore {
	padding-top: 100px;
}
.appstore-appstore a {
	color: white;
	
	padding: 12px;
	background: #333;
	border-radius: 5px;
	border: 1px solid white;
	background: transparent;
	text-decoration: none;
	/*background: #00a99d;*/
	font-size: 130%;
}
.appstore-appstore a:hover {
	/*color: #f5ff31;*/
	background: #00a99d;
	border: 1px solid #00a99d;
	transition: background 0.4s;
}
p {
	color: white;
	font-size: 180%;
	line-height: 160%;
	width: 550px;
	/*font-weight: bold;*/
}
span.yellow {
	color: #ffff00;
	font-weight: bold;
}
.iphone-iphone {
	position: fixed;
	visibility :hidden;
	bottom: 0;
	left: 680px;
	z-index: 11;
}
.iphone-iphone img {
	width: 350px;
}
.overlay-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	z-index: 10;
	background: url(../img/pat-pat6.png) repeat;
}
video#bgvid {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	
/*	background: url(polina.jpg) no-repeat;
	background-size: cover;*/
}
.video-background {
	
}
.soundcloud-soundcloud {
	height: 250px;
	position: relative;
	z-index: 25;
	margin-top: 100px;
	right: 0;
}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 1140px) {
}